//Color Palette

$primary-color: #990013;
$light-color: #f6f4f4;
$white-color: #ffffff;
$dark-color: #000000;


body{
    background: url('../images/background-pattern.png') !important;
    background-repeat: repeat;
    font-family:Arial, Helvetica, sans-serif;
}